<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.gigfinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_music_gig"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_music_gig"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDmyo-Vhg21l58N5gA24I63QVtrSSy2gQo" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!-- android:theme="@style/AppTheme.NoActionBar" -->
        </activity>
        <activity android:name=".SelectUserActivity" />
        <activity android:name=".RegistrationArtistActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".HostProfileActivity" />
        <activity android:name=".EventProfileActivity" />
        <activity android:name=".ArtistProfileActivity" />
        <activity android:name=".RegistrationHostActivity"></activity>
    </application>

</manifest> <!-- "@mipmap/ic_launcher_round" -->
